/log/*
!/log/.keep
/tmp

/vendor/bundle
/.vagrant
.DS_Store
.byebug_history
/public/system

# Ignore local config ENV

config/application.yml

# Ignore local nginx
containers/nginx/nginx.conf

# Ignore local config docker

docker-compose.yml

.bundle/

# Ignore local public assets
public/assets/*

# app/assets/javascripts/i18n/*

.idea/

