/* line 1, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
footer {
  padding: 0;
}

/* line 5, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
body {
  height: auto;
}

/* line 9, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.clear {
  clear: both;
}

/* line 13, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.sub-nav {
  background: #f2f2f2;
  padding: 10px 10px 10px 0;
}

/* line 18, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
table {
  border-spacing: 2px;
}

/* line 22, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 28, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
table.custom_sorting th .asc {
  background-image: "/assets/rails_db/up_arrow-d070bba90d00c37963ecdd2054f9e09bd609586cabd1cea6eaf339c975d474cd.gif";
}

/* line 32, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
table.custom_sorting th .desc {
  background-image: "/assets/rails_db/down_arrow-8b9f05bbbe27def93870d39aee1b023a857ad8ac19d2bf78ce094d3da7e7ad6e.gif";
}

/* line 36, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
table th, table td {
  white-space: nowrap;
  vertical-align: top;
}

/* line 41, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
table td.text {
  white-space: normal;
}

/* line 45, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.scrollable {
  overflow: auto;
}
/* line 47, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.scrollable table {
  min-width: 99%;
}

/* line 52, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.main_nav {
  padding-top: 30px;
}

/* line 56, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.panel.execute_panel {
  padding-bottom: 5px;
}

/* line 60, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.sql_history_items {
  max-height: 450px;
}

/* line 64, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.red {
  color: red;
}

/* line 68, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.yellow {
  color: #ffba00;
}

/* line 72, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.warning.label a {
  color: white;
}

/* line 76, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.expanded .collapse {
  display: inline;
}

/* line 80, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.expanded .expand {
  display: none;
}

/* line 84, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.collapsed .collapse {
  display: none;
}

/* line 87, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.collapsed .expand {
  display: inline;
}

/* line 91, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.sql_exp_col {
  padding-top: 8px;
  padding-left: 26px;
}

/* line 96, /Users/nguyenquan/.rvm/gems/ruby-2.3.3/gems/rails_db-1.3.4/app/assets/stylesheets/rails_db/app.scss */
.panel.no_bottom_padding {
  padding-bottom: 0;
}
