<!DOCTYPE html>
<html>
<head>
  <title>SlackBotOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<script type="text/javascript">
  if (window.location.hash == '#_=_') {
    // window.location.hash = ''; //this script removes the #_=_ from the url which is appended by facebook after login
    history.pushState("", document.title, window.location.href.replace(/\#(.+)/, '').replace(/http(s?)\:\/\/([^\/]+)/, '') )
  }
</script>
</html>
